body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

#main {
    max-width: 900px;
    margin:  auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    
}


#header {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input,
form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

form input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
}

#Message {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #dff0d8;
    color: #3c763d;
    border-radius: 4px;
    display: none;
}

#rentedBooksDisplay {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
#reload {
    background-color: #5bc0de;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}
#textItem{
    display: flex; 
    


}
form button{
width: 90%;
background-color: rgb(45, 247, 247);
color: rgb(0, 0, 0);
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
font-weight: bold;
margin-left: 5%;
font-size: 20px;
cursor: pointer;
margin-top: 4%;

text-shadow: 5px 5px 50px 50px rgba(252, 5,5, 0.6999);
animation: animation 5s linear infinite;
}

@keyframes animation{
100%{
    filter: hue-rotate(360deg);
}
}
#tableBody button {
width: 90%;
background-color: rgb(45, 247, 247);
color: rgb(0, 0, 0);
padding: 9px 9px;
margin: 8px 0;
border: none;
border-radius: 4px;
font-weight: bold;
margin-left: 5%;
font-size: 20px;
cursor: pointer;
margin-top: 4%;
text-shadow: 5px 5px 50px 50px rgba(252, 5,5, 0.6999);
animation: animation 5s linear infinite;
}

@keyframes animation{
100%{
    filter: hue-rotate(360deg);
}
}
.itmes{
  
  color: black;
  border-radius: 10px;
  margin: 9px 7px;
  padding: 10px;
  width: 30%;
  position: relative;
  box-shadow: 2px 2px 9px #333;
}




nav {
width: 100%;
height: 80px;
background: rgb(39, 38, 38);
color: white;
display: flex;
justify-content: space-between;
align-items: center;
text-transform: uppercase;
font-family: "Roboto", sans-serif;
margin-bottom: 4%;
}

.logo h5{
padding-left: 4%;
text-shadow: 5px 5px 50px 50px rgba(252, 5,5, 0.6999);
animation: animation 5s linear infinite;
}

@keyframes animation{
100%{
    filter: hue-rotate(360deg);
}
}

.logo {
width: 25%;
color: rgb(255, 255, 255);
text-align: center;
font-size: 3rem;

}
.logo i{
font-size: 19px;
padding-right: 6%;
color: white;
}

.new {
width: 40%;
font-size: 1.3rem;
padding-right: 6%;
text-align: center;
display: flex;
justify-content: space-between;
}

a {
width: 30%;
text-decoration: none;
color: white;
text-align: center;
font-weight: bold;
text-shadow: 5px 5px 50px 50px rgba(252, 5,5, 0.6999);
animation: animation 5s linear infinite;
}

@keyframes animation{
100%{
    filter: hue-rotate(360deg);
}
}




a:hover{
color: aqua;
}
.itmes span{
position: absolute;
font-size: 30px;
right: 9px;
top: 0px;
cursor: pointer;
/* margin-top: 2%; */


}

#return{
    width: 100%;
    padding: 10px;
    float: right;
    border: none;
    border-radius: 8px;
    background-color: aqua;
    font-weight: bold;
    margin-top: 4%;
    font-size: 17px;
    text-shadow: 5px 5px 50px 50px rgba(252, 5,5, 0.6999);
    animation: animation 5s linear infinite;
    }
    
    @keyframes animation{
    100%{
        filter: hue-rotate(360deg);
    }
    }


