@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Homemade+Apple&family=Italianno&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kaushan+Script&family=Rubik+Doodle+Shadow&family=Satisfy&family=Tangerine:wght@400;700&display=swap');
body{
    /* font-family: "Kaushan Script", cursive; */
    background-color: rgba(0, 0, 0, 0.895);
    color: white;
}

nav {
    width: 100%;
    height: 80px;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;

}
h1{
    font-family: "Oranienbaum", serif;
    /* padding-left: 5%; */
}
.logo h2{
    padding-left: 4%;
    /* font-size: ; */
}
.logo {
    width: 25%;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 3rem;

}
.logo i{
    font-size: 19px;
    padding-right: 6%;
    color: white;
}

.new {
    width: 40%;
    font-size: 1.3rem;
    padding-right: 6%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

a {
    width: 30%;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;

   
}

a:hover{
    color: aqua;
}

.container{
   padding-left: 6%;
}

.table h1{
    font-size: 4rem;
}

.new i{
    padding-left: 2%;
    padding-top: 1%;
    animation: rotate 0.5s ;
    cursor: pointer;
}
@keyframes  rotate {
    0%{
        transform:  rotate((-360deg) scale(0));
        opacity: 0;

    }
    50%{
        transform: rotate(30deg) scale(1);
        opacity: 1;
    }
   }
   
table{
    background-color: transparent;
   }

   #remove{
    width: 50%;
    background-color: aqua;
    color: black;
    border: none;
    font-weight: bold;
 }